doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/main.css')
    script(type='text/javascript', src='/main.js')
    title URL Shortener
  body
    .myform
      form#myform(action='', method='post')
        | Submit url: 
        input#newreq(type='url', name='usrurl')
        |  &ZeroWidthSpace;
        input(type='submit', name='submit', onclick='return empty()')
.myclass
  a(href= message) #{message}






